.modalContainer {
  width: 500px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.messageArea {
  height: 450px;
  overflow-y: auto;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #f9f9f9;
  display: flex;        /* Changed to flex to enable align-self */
  flex-direction: column; /* Messages stack vertically */
}

.userMessage, .aiMessage {
  max-width: 80%;
  line-height: 1.2;
  padding: 6px 10px;
  margin-bottom: 4px;
  border-radius: 15px;
  color: white;
  width: fit-content;
}

.userMessage {
  background-color: #007BFF;
  align-self: flex-end; /* Right alignment for user messages */
  border-bottom-right-radius: 2px;
}

.aiMessage {
  background-color: #cccccc;
  align-self: flex-start; /* Left alignment for AI messages */
  border-bottom-left-radius: 2px;
  color:#111111
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.loadingDots {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  background-color: #007BFF;
  border-radius: 50%;
  display: inline-block;
  animation: jump 1.4s infinite ease-in-out;
}

.dot:nth-child(1) { animation-delay: -0.32s; }
.dot:nth-child(2) { animation-delay: -0.16s; }
.dot:nth-child(3) { animation-delay: 0s; }

@keyframes fade {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

.typingIndicator {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  min-height: 30px;
}

.typingDot {
  width: 6px;
  height: 6px;
  margin-right: 4px;
  background-color: #aaaaaa;
  border-radius: 50%;
  animation: fade 1s infinite;
}

.typingDot:nth-child(1) { animation-delay: 0s; }
.typingDot:nth-child(2) { animation-delay: 0.2s; }
.typingDot:nth-child(3) { animation-delay: 0.4s; }
